@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #e653eb;
    --branco: #FFFFFF;
    --roxo: #b712e0;
    --azul-degrade: linear-gradient(97.54deg, #dd1ae4 35.49%, #e280dd 165.37%);
    --fonte-principal: "Poppins";
    --roxo: #ac3bda;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}